@import 'tailwindcss';

@theme {
    --color-page-bg: oklch(0.1344 0 0);
    --color-page-fg: oklch(0.9842 0.0034 247.8578);
    --color-surface-bg: oklch(0.1913 0 0);
    --color-surface-fg: oklch(0.9276 0.0058 264.5313);
    --color-surface-muted-bg: oklch(0.252 0 0);
    --color-surface-muted-fg: oklch(0.7118 0.0129 286.0665);
    --color-primary-bg: oklch(0.8717 0.0093 258.3383);
    --color-primary-fg: oklch(0.1448 0 0);
    --color-secondary-bg: oklch(0.5517 0.0138 285.9384);
    --color-secondary-fg: oklch(1 0 0);
    --color-accent-bg: oklch(0.349 0.2900 293.5412);
    --color-accent-fg: oklch(0.95 0 281.2883);
    --color-success-color: oklch(0.8003 0.1821 151.711);
    --color-success-fg: oklch(0.2664 0.0628 152.9343);
    --color-warning-color: oklch(0.8369 0.1644 84.4286);
    --color-warning-fg: oklch(0.2791 0.0742 45.6352);
    --color-danger-color: oklch(0.7106 0.1661 22.2162);
    --color-danger-fg: oklch(0.2575 0.0886 26.0418);
}

/* to test for overflowing content */
/* * {
    outline: 1px solid var(--color-success-color);
} */

.gradient-bg {
    background: linear-gradient(120deg, var(--color-surface-muted-bg), var(--color-surface-bg));
}