# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Distribution / Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Flask
# ==========================
instance/

# ==========================
# SQLite Database
# ==========================
*.db
*.sqlite3

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/